.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 30s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.app-container {
	width: 95vw;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 992px) {
	.nav-items-container {
		margin-left: 12vw;
	}
}
@media only screen and (min-width: 992px) {
	.nav-items-container {
		justify-content: flex-end;
	}
}

.navbar {
	background-color: #fff;
	padding: 1rem;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.nav-links li {
	position: relative;
}

.dropbtn {
	cursor: pointer;
	font-weight: bold;
	background: none;
	border: none;
	font-size: 1rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 180px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	display: block;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
